{% extends 'templates/base.html' %}
{% block cabecalho %}
    <script type="text/javascript" src="/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/curso.js"></script>
{% endblock %}

{% block corpo %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column" ng-app="myApp" ng-controller="MyAppCtrl">
                <h1>Página de cursos</h1>


                <input type="text" name="nome" ng-model="nomeDoCurso" placeholder="Nome do Curso"/>
                <input type="text" name="descricao" ng-model="descricaoDoCurso" placeholder="Descrição do Curso"/>

                <button class="btn btn-primary" type="submit" ng-click="adicionarCurso()">Adicionar Curso</button>
                </form>
                <ol>

                    <li ng-repeat="curso in listaDeCursos">
                        <a href="{_ curso.detalhar_path _}">{_ curso.nome _}</a>
                    </li>

                </ol>
            </div>
        </div>

    </div>
{% endblock %}