{% extends 'templates/base.html' %}
{% block cabecalho %}
    <script type="text/javascript" src="/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/curso.js"></script>
{% endblock %}

{% block corpo %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column" ng-app="myApp" ng-controller="MyAppCtrl">
                <h1>Página de cursos</h1>


                <input type="text" name="nome" ng-model="nomeDoCurso" placeholder="Nome do Curso"/>
                <input type="text" name="descricao" ng-model="descricaoDoCurso" placeholder="Descrição do Curso"/>

                <button class="btn btn-primary" type="submit" ng-click="adicionarCurso()">Adicionar Curso</button>
                </form>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nome do Curso</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="curso in listaDeCursos">
                        <td><span ng-hide="curso.mostrandoInterfaceEdicao">
                            <button class="btn btn-primary" ng-click="curso.mostrandoInterfaceEdicao=true"><i
                                    class="glyphicon glyphicon-pencil"></i></button>
                            <a ng-hide="curso.mostrandoInterfaceEdicao"
                               href="{_ curso.detalhar_path _}">{_ curso.nome _}</a>
                            </span>
                            <span class="col-md-6 column">
                             <span ng-show="curso.mostrandoInterfaceEdicao" class="input-group">
                            <input type="text" class="form-control" ng-model="curso.nome">

                              <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="editarCurso(curso)"><i class="glyphicon glyphicon-pencil"></i>
                                </button>
                                </span>
                        </span>
                                </span>
                        </td>
                        <td style="width: 200px;">

                            <button class="btn btn-danger" ng-click="deletarCurso(curso,$index)"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>

                </table>


            </div>
        </div>

    </div>
{% endblock %}