{% extends 'templates/base.html' %}
{% block corpo %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="jumbotron">
                    <h1>
                        {{ _path }}
                    </h1>

                    <p>
                        This is a template for a simple marketing or informational website. It includes a large callout
                        called the hero unit and three supporting pieces of content. Use it as a starting point to
                        create
                        something more unique.
                    </p>

                    <p>
                        <a class="btn btn-primary btn-large" href="#">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="page-header">
                    <h1>
                        Example page header
                        <small>Subtext for header</small>
                    </h1>
                </div>
            </div>
            <div class="col-md-6 column">
                <div class="page-header">
                    <h1>
                        Example page header
                        <small>Subtext for header</small>
                    </h1>
                </div>
                <button type="button" class="btn btn-primary">Default</button>
            </div>
        </div>
    </div>
{% endblock %}